{% extends "base.html" %}
{% load static %}
{% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<div class="row">
						<!-- Blog Entries Column -->
						<div class="col-md-8 mt-3 left">
							{% for post in blog_articles %}
							<div class="card mb-4">
								<div class="card-body">
									<h2 class="card-title">{{ post.title }}</h2>
									<p class="card-text text-muted h6">{{ post.author }} | {{ post.created_datetime}} </p>
									<p class="card-text">{{post.content|slice:":200" }}</p>
									<a href="{% url 'blog_article_detail' post.pk  %}" class="btn btn-primary">Read More &rarr;</a>
								</div>
							</div>
							{% endfor %}
						</div>
						{% comment %} {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %} {% endcomment %}
					</div>

				</div>
			</main>
			{% endblock %}